<!DOCTYPE html>
<html lang="form-group" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Passwort ändern</title>
    <!-- подключаем бутстрап -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<style>
    body {
    background-color: rgb(242, 243, 237);
    }
</style>
<!-- Навигационная панель -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand p-0" href="/">
            <img src="/images/logo.png" alt="Logo" width="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/user/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- вся страница будет в одном контейнере -->
<div class="container">
    <div class="row">
        <!-- делаем самую простую вёрстку -->
        <div class="col-md-7">
            <h2>Passwort ändern</h2>
            <p>Füllen Sie Felder aus, um Passwort zu ändern.</p>
            <!-- Выводим ошибку, если она есть -->
            <p th:if="${error}" class="alert alert-danger">[[${error}]]</p>

            <!-- Выводим сообщение об успешной смене пароля -->
            <p th:if="${success}" class="alert alert-success">[[${success}]]</p>
            <!-- форма регистрации -->
            <form action="/users/change-password" method="post">
                <!-- поле ввода имени -->
                <div class="form-group">
                    <label for="oldPassword">Altes Passwort:</label>
                    <input type="password" id="oldPassword" name="oldPassword" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="newPassword">Neues Passwort:</label>
                    <input type="password" id="newPassword" name="newPassword" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Neues Passwort bestätigen:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
                </div>
                <!-- кнопка отправки данных на сервер -->
                <div class="form-group">
                    <button type="submit" name="submit" class="btn btn-primary">Ändern</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>

